@import url(http://fonts.googleapis.com/css?family=Great+Vibes);

html{
  height:100%;
}
body{
	background: rgb(104,100,114); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(104,100,114,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(104,100,114,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(104,100,114,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(104,100,114,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(104,100,114,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(104,100,114,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#686472', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	background-repeat: no-repeat;
	background-attachment: fixed;
	height:100%;
	margin:auto 0;
	text-align: center;
}
h1.centered{
	position:fixed;
	top:50%;
	left: 0;
	width:100%;
	font-family: 'Great Vibes', serif;
	font-size: 80px;
	text-align: center;
	color: rgba(104,100,114,1);
	text-shadow: 1px 1px rgba(204,200,214,0.7), -1px -1px rgba(0,0,0,0.8);
	margin-top:-40px;
}

/*Tablet*/
@media screen and (min-width : 768px) and (max-width : 1024px)  { 
	h1.centered{
		font-size: 80px;
		margin-top:-40px;
	}
}

/*Phone*/
@media screen and (min-width : 320px) and (max-width : 568px) { 
	h1.centered{
		font-size: 60px;
		margin-top:-30px;
	}
}
